{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Add a new topic:</h2>
{% endblock header %}

{% block content %}
    <form action="{% url 'learning_logs:new_topic1' %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit"  class="btn btn-primary">保存主题</button>
        <a href="{% url 'learning_logs:topics' %}" id="cancel" name="cancel" class="btn btn-default">取消</a>
        {% endbuttons %}

    </form>

{% endblock content %}