{% extends 'learning_logs/base.html'%}

{% block header %}
    <h1>Topics</h1>
{% endblock header %}

{% block content %}
    <button>
            <a href="{% url 'learning_logs:new_topic1' %}">新增主题</a>
    </button>
    <ul>
        {%for topic in topics%}
        <li>
            <h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3>

        </li>
        {% empty%}
        <li> No topic have been added yet.</li>
        {% endfor %}
    </ul>


{% endblock content %}